{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
